body {
    background-color:#FFD5FF;
}

h1 {
    font-family: 'Notable', sans-serif;

}

h2 {
color:black;    
}

h3 {
    color:darksalmon;
}

img {
    height:330px;
    float:right;
    top:100px;

}