body {
    background-color:#E9F7CA;
}

h2 {
    color:#F3CA40;
    text-align:center; 
    font-family: 'BenchNine', sans-serif;


}

h3 {
    font-family: 'Archivo Black', sans-serif;
    color:  burlywood;
}

h4 {
    color:lightseagreen;
}

h1 {
    border:double; 
    text-align:center; 
    color:lightblue
}

img {
    float:right;
}